@font-face {
    font-family: 'godofwar';
    src: url('fonts/godofwar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lm-medium';
    src: url('fonts/lm-medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'lm-medium', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
    font-family: 'godofwar', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
    display: flex;
    justify-content: center;
    gap: 4px;
    position: relative;
    z-index: 1001;
}

.logo span {
    opacity: 0;
    transform: translateY(-20px);
    display: inline-block;
    animation: dropIn 0.5s ease forwards;
}

/* 为每个字母设置不同的延迟 */
.logo span:nth-child(1) { animation-delay: 0s; }
.logo span:nth-child(2) { animation-delay: 0.1s; }
.logo span:nth-child(3) { animation-delay: 0.2s; }
.logo span:nth-child(4) { animation-delay: 0.3s; }
.logo span:nth-child(5) { animation-delay: 0.4s; }
.logo span:nth-child(6) { animation-delay: 0.5s; }

@keyframes dropIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bg {
  width: 80%;
  max-width: 360px;
  background: white;
  padding: 5px 20px;
  border-radius: 50px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: 'lm-medium', sans-serif;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px 0px;
  border: 2px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'lm-medium', sans-serif;
}

/* 按钮 */
button {
    text-align: center;
    width: 100%;
    max-width: 350px;
    padding: 12.5px 0;
    font-size: 16px;
    font-weight: bold;
    background-color: #8A2BE2;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(138, 43, 226, 0.4);
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

/* 按钮激活 */
button:active {
    transform: scale(0.95);
    background-color: #6A1FBF;
    box-shadow: 0 4px 12px rgba(138, 43, 226, 0.4);
}

#resultMessage {
  font-size: 15px
  margin-top: 15px;
  color: red;
}
