body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bg {
  background: white;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  max-width: 280px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px 0px;
  border: 2px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

/* 按钮 */
button {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    max-width: 350px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    background-color: #8A2BE2;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(138, 43, 226, 0.4);
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

/* 按钮激活 */
button:active {
    transform: scale(0.95);
    background-color: #6A1FBF;
    box-shadow: 0 4px 12px rgba(138, 43, 226, 0.4);
}

#resultMessage {
  font-size: 15px
  margin-top: 15px;
  color: red;
}
