body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bg {
  background: white;
  padding: 20px 40px;
  border-radius: 30px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  max-width: 280px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

input {
  width: 100%;
  padding: 10px 0px;
  border: 2px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

button {
  width: 50%;
  padding: 10px;
  background-color: #8A2BE2;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:active {
  background-color: #6A1FBF;
}

#resultMessage {
  font-size: 15px
  margin-top: 15px;
  color: red;
}
