body {
    margin: 0;
    background-color: #fff;
    font-family: sans-serif;
}

.toggle-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-left,
.icon-right {
    width: 34px;
    height: 34px;
    object-fit: cover;
    border-radius: 50%;

    opacity: 0.5;
    transition: all 0.3s ease;
}

.custom-toggle {
    width: 60px;
    height: 34px;
    background-color: #ff5050;
    border-radius: 34px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border: none;
    padding: 0;
}

.custom-toggle::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    bottom: 4px;
    left: 4px;
    transition: transform 0.3s ease;
}

.custom-toggle.on {
    background-color: #ff5050;
}

.custom-toggle.on::before {
    transform: translateX(26px);
}

/* 初始状态，图标都暗 */
.icon-left,
.icon-right {
    opacity: 0.5;
    transition: all 0.3s ease;
}

/* 开启时，右边亮，左边暗 */
.toggle-container.on .icon-right {
    opacity: 1;
}

.toggle-container.on .icon-left {
    opacity: 0.5;
}

/* 关闭时，左边亮，右边暗 */
.toggle-container:not(.on) .icon-left {
    opacity: 1;
}

.toggle-container:not(.on) .icon-right {
    opacity: 0.5;
}

/* WINGO TYPE CSS CODE */
/* WINGO TYPE CSS CODE */
/* WINGO TYPE CSS CODE */
/* WINGO TYPE CSS CODE */
/* WINGO TYPE CSS CODE */

.wingo {
    margin-top: 80px;
}

/* WINGO BACKGROUND */
.bg {
    width: 80%;
    max-width: 360px;
    height: auto;
    background-image: url("images/mz.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 50px;
    margin: 30px auto;
    text-align: center;
    padding: 20px 20px 10px 20px;
    color: #333;
    box-shadow: 0 0px 10px rgba(255, 70, 70, 0.3);
    position: relative;
    overflow: hidden;
}
.bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}
.bg {
    position: relative;
    z-index: 1;
}

.bg * {
    position: relative;
    z-index: 1;
}

/* ALL-TITLE */
.title {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Noto Sans SC', sans-serif;
    border-bottom: 3px solid #555;
    margin-bottom: 0;
    color: #fff;
    display: inline-block;
}

/* ALL-SUBTITLE */
.subtitle {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Noto Sans SC', sans-serif;
    margin-top: 4px;
    color: #fff;
}
